body,html,.login-container {
    height: 100%;
}

.login-container {
    position: relative;
}

.login-container::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(111, 111, 111, .5);
}

.login-container>img {
    width: 100%;
    display: block;
}

.card {
    position: fixed;
    z-index: 100;
    height: 350px;
    top: calc(50% - 175px);
    text-align: center;
}

.card::after {
    position: absolute;
    content: "";
    left: -20px;
    right: -20px;
    top: -20px;
    height: calc(100% + 40px);
    background: linear-gradient(135deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .1));
}

.card .card-body {
    z-index: 101;
}

.card .card-title {
    font-size: 32px;
    color: #555;
}

.card .card-title,
.card .input-group {
    margin-bottom: 8%;
}

.card .input-group-text {
    background: none;
}

.btn,
.btn:hover {
    background: #3dcbfb;
    border: #2e94b7;
}

@media screen and (max-width: 992px) {
    .card {
        height: 280px;
        top: calc(50% - 140px);
    }

    .card::after {
        left: -15px;
        right: -15px;
        top: -15px;
        height: calc(100% + 30px);
    }

    .card .card-title {
        font-size: 30px;
    }
    
    .card .card-title,
    .card .input-group {
        margin-bottom: 10%;
    }
}